/Debug
/Release
/x64
/IR2IR/Debug
/IR2IR/x64
/calibration/example_calibration.dir
/calibration/Release
*.vcxproj.user
*.sdf
*.opensdf
/depthFit/Debug
/depthFit/Release
/depthFit/x64
/depthFitLib/x64
/depthFitLib/Debug
/depthFitLib/Release
/synthetic_generator/x64
/Kinectfusion_v2/x64
/Kinectfusion_v2/Debug
/Kinectfusion_v2/Release
/build/*
